In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#import the csv file into pandas dataframe
train=pd.read_excel('Food_Data_Train.xlsx')
test=pd.read_excel('Food_Data_Test.xlsx')

In [3]:
#Combining the train and test data into a single file
train['Source']='train'
test['Source']='test'
data=pd.concat([train,test],ignore_index=True)
print(train.shape,test.shape,data.shape)

(12690, 10) (4231, 9) (16921, 10)

In [4]:
data

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,Source
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0,train
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0,train
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0,train
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0,train
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0,train
...,...,...,...,...,...,...,...,...,...,...
16916,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes,NaN,test
16917,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes,NaN,test
16918,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes,NaN,test
16919,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN,NaN,test
16920,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes,NaN,test

In [5]:
data['LOCALITY'].value_counts()

Gachibowli                          216
Indiranagar                         187
Kakkanad                            175
Kukatpally                          171
Madhapur                            169
                                   ...
Rest House Road                       1
international Airport                 1
Silpa Park                            1
Kempegowda International Airport      1
Bhoopasandra Main Road                1
Name: LOCALITY, Length: 1636, dtype: int64

In [6]:
data.drop(['LOCALITY'],axis=1,inplace=True)

In [7]:
data['TITLE'].value_counts()

QUICK BITES                 5634
CASUAL DINING               4910
None                        1287
CAFÉ                         830
DESSERT PARLOR               508
                            ...
SWEET SHOP,CONFECTIONERY       1
PUB,FINE DINING                1
SWEET SHOP,BEVERAGE SHOP       1
QUICK BITES,MEAT SHOP          1
CLUB,FINE DINING               1
Name: TITLE, Length: 123, dtype: int64

In [8]:
data['TITLE'].unique()

array(['CASUAL DINING', 'CASUAL DINING,BAR', 'QUICK BITES',
       'DESSERT PARLOR', 'CAFÉ', 'MICROBREWERY',
       'QUICK BITES,BEVERAGE SHOP', 'CASUAL DINING,IRANI CAFE',
       'BAKERY,QUICK BITES', 'None', 'BAR,CASUAL DINING', 'BAR', 'PUB',
       'BEVERAGE SHOP', 'FINE DINING', 'CAFÉ,QUICK BITES',
       'BEVERAGE SHOP,DESSERT PARLOR', 'SWEET SHOP,QUICK BITES',
       'DESSERT PARLOR,SWEET SHOP', 'BAKERY', 'BAKERY,DESSERT PARLOR',
       'BAR,LOUNGE', 'FOOD COURT', 'LOUNGE',
       'DESSERT PARLOR,BEVERAGE SHOP', 'LOUNGE,CASUAL DINING',
       'FOOD TRUCK', 'QUICK BITES,FOOD COURT', 'SWEET SHOP',
       'BEVERAGE SHOP,FOOD COURT', 'PUB,CASUAL DINING', 'MESS',
       'MICROBREWERY,CASUAL DINING', 'CASUAL DINING,SWEET SHOP', 'KIOSK',
       'QUICK BITES,KIOSK', 'CLUB', 'FINE DINING,BAR',
       'DESSERT PARLOR,QUICK BITES', 'FOOD COURT,QUICK BITES',
       'LOUNGE,CAFÉ', 'BAKERY,CONFECTIONERY', 'CASUAL DINING,CAFÉ',
       'DHABA', 'CAFÉ,DESSERT PARLOR', 'QUICK BITES,DESSERT PARLOR',
       'PUB,MICROBREWERY', 'LOUNGE,BAR', 'DESSERT PARLOR,CAFÉ',
       'CAFÉ,BAR', 'SWEET SHOP,CONFECTIONERY', 'CASUAL DINING,PUB',
       'MICROBREWERY,BAR', 'DESSERT PARLOR,BAKERY',
       'QUICK BITES,SWEET SHOP', 'BEVERAGE SHOP,QUICK BITES',
       'CASUAL DINING,LOUNGE', 'CASUAL DINING,CLUB', 'QUICK BITES,CAFÉ',
       'BAR,CAFÉ', 'CAFÉ,CASUAL DINING', 'QUICK BITES,CASUAL DINING',
       'CASUAL DINING,MICROBREWERY', 'CASUAL DINING,BAKERY',
       'CAFÉ,BAKERY', 'MEAT SHOP', 'QUICK BITES,BAKERY',
       'BAR,FINE DINING', 'SWEET SHOP,CASUAL DINING',
       'MEAT SHOP,QUICK BITES', 'PUB,LOUNGE', 'BAKERY,CAFÉ',
       'COCKTAIL BAR', 'FINE DINING,LOUNGE', 'CONFECTIONERY',
       'QUICK BITES,BAR', 'BAKERY,FOOD COURT', 'PUB,BAR',
       'DESSERT PARLOR,FOOD COURT', 'QUICK BITES,FOOD TRUCK',
       'BAKERY,BEVERAGE SHOP', 'CLUB,BAR', 'BAKERY,SWEET SHOP',
       'SWEET SHOP,BAKERY', 'CASUAL DINING,FOOD COURT', 'PAAN SHOP',
       'BEVERAGE SHOP,CAFÉ', 'FOOD COURT,DESSERT PARLOR',
       'CLUB,MICROBREWERY', 'CAFÉ,BEVERAGE SHOP',
       'DESSERT PARLOR,PAAN SHOP', 'MICROBREWERY,LOUNGE', 'LOUNGE,CLUB',
       'SWEET SHOP,DESSERT PARLOR', 'BAR,PUB',
       'CONFECTIONERY,QUICK BITES', 'DESSERT PARLOR,KIOSK', 'LOUNGE,PUB',
       'SWEET SHOP,BEVERAGE SHOP', 'FINE DINING,CAFÉ',
       'BEVERAGE SHOP,CASUAL DINING', 'KIOSK,QUICK BITES',
       'CASUAL DINING,DESSERT PARLOR', 'LOUNGE,FINE DINING', 'PUB,CAFÉ',
       'CAFÉ,LOUNGE', 'BAR,CLUB', 'COCKTAIL BAR,CASUAL DINING',
       'MICROBREWERY,PUB', 'CAFÉ,FINE DINING', 'KIOSK,FOOD COURT',
       'LOUNGE,MICROBREWERY', 'BAR,MICROBREWERY',
       'FOOD TRUCK,DESSERT PARLOR', 'IRANI CAFE,BAKERY',
       'BAKERY,CASUAL DINING', 'PUB,FINE DINING', 'CAFÉ,FOOD COURT',
       'FINE DINING,MICROBREWERY', 'CLUB,FINE DINING',
       'QUICK BITES,MEAT SHOP', 'CLUB,CASUAL DINING', 'BHOJANALYA'],
      dtype=object)

In [9]:
data['VOTES'] = data['VOTES'].apply(lambda x: str(x)[0:-5])

In [10]:
data

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,RATING,VOTES,COST,Source
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,3.6,49,1200.0,train
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,4.2,30,1500.0,train
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,3.8,221,800.0,train
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,4.1,24,800.0,train
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,3.8,165,300.0,train
...,...,...,...,...,...,...,...,...,...
16916,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,3.9,287,NaN,test
16917,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,4.3,469,NaN,test
16918,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,3.7,53,NaN,test
16919,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,-,,NaN,test
16920,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,3.7,63,NaN,test

In [11]:
data.drop(['TITLE','RESTAURANT_ID','TIME'],axis=1,inplace=True)

In [12]:
data

,CUISINES,CITY,RATING,VOTES,COST,Source
0,"Malwani, Goan, North Indian",Thane,3.6,49,1200.0,train
1,"Asian, Modern Indian, Japanese",Chennai,4.2,30,1500.0,train
2,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,3.8,221,800.0,train
3,"Tibetan, Chinese",Mumbai,4.1,24,800.0,train
4,Desserts,Mumbai,3.8,165,300.0,train
...,...,...,...,...,...,...
16916,"North Indian, Mughlai, Chinese",New Delhi,3.9,287,NaN,test
16917,"Biryani, North Indian, Sandwich, Salad, Wraps",Bangalore,4.3,469,NaN,test
16918,"Continental, North Indian",Faridabad,3.7,53,NaN,test
16919,"Rolls, Beverages",Kochi,-,,NaN,test
16920,Mughlai,Bandra West,3.7,63,NaN,test

In [13]:
data=pd.get_dummies(data)

In [14]:
data

,COST,"CUISINES_Afghan, Mughlai","CUISINES_African, Burger, Desserts, Beverages, Fast Food, Salad",CUISINES_American,"CUISINES_American, Arabian, Fast Food, Lebanese","CUISINES_American, Asian, Burger, Chinese, Desserts, Panini, Italian, Momos","CUISINES_American, Asian, Cafe, Continental, Italian, Burger, Pizza","CUISINES_American, Asian, Continental, North Indian","CUISINES_American, Asian, Continental, North Indian, South Indian, Chinese","CUISINES_American, Asian, European, North Indian",...,VOTES_992,VOTES_993,VOTES_995,VOTES_996,VOTES_997,VOTES_9976,VOTES_998,VOTES_999,Source_test,Source_train
0,1200.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1500.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,800.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,800.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,300.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16916,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16917,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16918,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16919,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16920,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [15]:
x_train=data.iloc[:,1:][data['Source_train']==1]

In [16]:
x_train.shape

(12690, 7743)

In [17]:
y_train=data.iloc[:,0:1][data['Source_train']==1]

In [18]:
y_train

         COST
0      1200.0
1      1500.0
2       800.0
3       800.0
4       300.0
...       ...
12685   500.0
12686  1800.0
12687  1300.0
12688   400.0
12689   600.0

[12690 rows x 1 columns]

In [19]:
x_test=data.iloc[:,1:][data['Source_test']==1]

In [20]:
x_test.shape

(4231, 7743)

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
dtrain_predictions = model.predict(x_test)

In [22]:
dtrain_predictions

array([[ 7.04000000e+02],
       [-3.58787304e+13],
       [-3.58787304e+13],
       ...,
       [ 2.52900000e+03],
       [ 2.69000000e+02],
       [ 5.41000000e+02]])

In [23]:
model.score(x_train,y_train)

0.8033894041704668

In [24]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(model, x_train, y_train, cv=5, scoring='neg_mean_squared_error')

In [27]:
a

array([-3.82402821e+30, -5.26061220e+30, -3.19870793e+30, -3.92001817e+30,
       -4.47359686e+30])

In [25]:
test['Price']=model.predict(x_test)

In [26]:
test

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,Source,Price
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes,test,7.040000e+02
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes,test,-3.587873e+13
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes,test,-3.587873e+13
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes,test,-1.126857e+14
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes,test,4.120000e+02
...,...,...,...,...,...,...,...,...,...,...
4226,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287 votes,test,5.920000e+02
4227,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes,test,1.011029e+15
4228,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes,test,2.529000e+03
4229,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN,test,2.690000e+02
4230,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63 votes,test,5.410000e+02

In [28]:
from sklearn.externals import joblib
joblib.dump(model,'FoodPricePrediction.pkl')

['FoodPricePrediction.pkl']